<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
         
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,700,0,200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,700,0,200" />

  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background: rgb(2,0,36);
     background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(160, 160, 198) 0%, rgba(94,94,147,1) 0%, rgba(1,239,236,1) 100%);position:relative fixed;width: 100%;">
    <div>
        <h2 class="mr-2 ml-5" style="text-align: left; letter-spacing: 2px;font-family:fantasy;font-weight: bold;" >Change </h2>
    </div>
    <div>
        <h2 class="mr-2 " style="text-align: left; letter-spacing: 2px;font-family:fantasy;font-weight: bold;" > Password</h2>
    </div>
     <div style="margin-left: 75%;text-decoration: none;color: white;padding: 4px;border-radius: 0.5rem;" ><a href="{% url 'h' %}" class="text-white"><span class="material-symbols-outlined">
exit_to_app
</span></a></div>
    </nav>
   <div class=" mt-5">
         <div class="card" style="border: none;" >
            <form action="" target="side" method="post" >
                {% csrf_token %}
                <div class="row mr-2">
                    <div class="col-3 text-center"> <label class="form-label" for="{{form.image.id_for_label}}">Current Pssword:</label></div>
                    <div class="col">
                        <div class="form-outline mb-4">
                          {{form.current_password.error}} 
                          {{form.current_password}}
                          </div>
                    </div>
                </div>   
                <div class="row mr-2">
                    <div class="col-3 text-center"> <label class="form-label" for="{{form.image.id_for_label}}">New Password :</label></div>
                    <div class="col">
                        <div class="form-outline mb-4">
                          {{form.new_password.error}} 
                          {{form.new_password}}
                          </div>
                    </div>
                </div>   
                <div class="row mr-2">
                    <div class="col-3 text-center"> <label class="form-label" for="{{form.image.id_for_label}}">Confirm Password :</label></div>
                    <div class="col">
                        <div class="form-outline mb-4">
                          {{form.confirm_password.error}} 
                          {{form.confirm_password}}
                          </div>
                    </div>
                </div>   
                <div class=" text-center">
                <div class="row mr-2">
                  <div class="col"></div>
                  <div class="col">                  
                    <button class="btn btn-info btn-block">Submit</button>
                  </div>
                  <div class="col"></div>
                </div>
                </div>
            </form>
         </div>
    </div>
  </body>
</html>