{% extends "admin_home.html" %}
{% load static %}
{% block adminhome %}


<div class="card list-card mb-4">
    <div class="card-body">
        <h3 class="card-title text-center mb-4">
            <i class="material-icons text-primary me-2" style="font-size: 36px;">school</i>
            Faculties
        </h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Specialization</th>
                    <th>Experience</th>
                    <th>Photo</th>
                </tr>
            </thead>
            <tbody>
                {% for fac in faculty %}
                <tr>
                    <td>{{fac.name}}</td>
                    <td>{{fac.email}}</td>
                    <td>{{fac.gender}}</td>
                    <td>{{fac.subject}}</td>
                    <td>{{fac.exp}}</td>
                    <td><img src="{{fac.img.url}}" alt="" height="40px"> </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
</div>

{% endblock %}