{% extends "admin_home.html" %}
{% load static %}
{% block adminhome %}


<div class="card list-card mb-4">
    <div class="card-body">
        <h3 class="card-title text-center mb-4">
            <i class="material-icons text-success me-2" style="font-size: 36px;">groups</i>
            Students List
        </h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Age</th>
                    <th>Class</th>
                    <th>Photo</th>
                </tr>
            </thead>
            <tbody>
                {% for stu in students %}
                <tr>
                    <td>{{stu.student_name}}</td>
                    <td>{{stu.email}}</td>
                    <td>{{stu.gender}}</td>
                    <td>{{stu.age}}</td>
                    <td>{{stu.class_id.class_name}}</td>
                    <td><img src="{{stu.img.url}}" alt="" height="40px"> </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}